<!DOCTYPE html>
<html>

<head>
    <title><%= content_for(:title) || "Shop Me" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Include Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Include FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Include Tailwind CSS -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_importmap_tags %>
</head>

<body class="min-h-screen flex flex-col">

    <!-- Main Layout -->
    <main class="flex flex-1">

        <!-- Sidebar (Navigation) -->
        <nav class="w-64 bg-gray-600 p-4 sticky top-0 h-screen">
            <!-- Logo Section -->
            <div class="flex items-center mb-8">
                <%= image_tag 'logo.png', alt: 'Site Logo', class: 'w-16' %>
                <h1 class="text-md py-2 text-gray-50 font-bold hidden md:block">ShopMe Admin</h1>
            </div>

            <!-- Navigation Links -->
            <ul class="flex flex-col space-y-4 text-gray-50">
                <li>
                    <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                    <i class="fa-solid fa-gauge-high mr-2"></i>
                    <span class="hidden md:inline-block">Dashboard</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_products_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                    <i class="fa-solid fa-cart-shopping mr-2"></i>
                    <span class="hidden md:inline-block">Product</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                    <i class="fa-solid fa-list mr-2"></i>
                    <span class="hidden md:inline-block">Categories</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                    <i class="fa-solid fa-truck-fast mr-2"></i>
                    <span class="hidden md:inline-block">Orders</span>
                    <% end %>
                </li>
            </ul>
        </nav>

        <!-- Main Content Area -->
        <div class="flex-grow p-4 bg-gray-100">
            <%= yield %>
            <!-- Content will be injected here -->
        </div>

    </main>

</body>

</html>